* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.desktop {
  display: none;
}

header {
  height: 80px;
  background-color: blue;

}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

/*HEADER*/
.btn {
  color: white;
}


ul {
  list-style: none;
}

li {
  padding-left: 30px;
}

/*MAIN*/

main {
  margin-bottom: 200px;
}

.row {
  margin-top: 50px;
}

.col {
  width: 100%;
  background-color: #B5DDFF;
  border-radius: 20px;
  height: 358px;
  margin-bottom: 30px;

}

.col-first {
  height: 605px;
  width: 100%;
  background-color: #B5DDFF;
  border-radius: 20px;
  margin-bottom: 30px;
}





@media screen and (min-width: 381px) {
  main .row .col-first {
    width: 63%;
    margin-right: 30px;
  }

  main .row .col {
    width: 30%;
  }

  main .row:first-child .col {
    height: 605px;
  }

  main .row .col:nth-child(2) {
    margin-right: 0;
  }

  main .row .col:nth-child(3) {
    margin-right: 30px;
  }


  main .row .col:nth-child(4) {
    margin-right: 30px;
  }

  main .row .col:nth-child(5) {
    margin-right: 0;
  }
}

@media screen and (min-width: 781px) {

  .container {
    width: 70%;
  }

  header .container .btn {
    display: none;
  }

  header .container .menu {
    display: block;
  }


}